.widget{
    flex: 1;
    justify-content:space-between;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    height: 150px;

    .left,
    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-weight: bold;
            font-size: 14px;
            color: rgb(127, 127, 127);

        }
        .counter{
            font-size: 23px;
            font-weight: bold;
            margin-left: 10px;
        }
        .link{
            // width: 100%;
            font-size: 12px;
            border-bottom: 1px solid gray;
        }
        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;
            &.positive{
                color: green;
            }
            &.negative{
                color: red;
                background-color: rgb(202, 245, 245);
            }
        }
        .icon{
            font-size: 25px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}