.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:9rem;
    position: absolute;
    padding: 1rem 1.5rem;
    // margin-bottom: 2rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    animation: slideInTop ease-in-out 1s,fadeOut linear 3s forwards;
    span{
        padding-right: .6rem;
    }
}
@keyframes slideInTop{
    from {
        opacity: 0.6;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOut{
    to{
        opacity: 0;
    }
}