.wrapper {
    min-width: 100px;
    padding: 15px 18px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    border-radius: 10px;
    // display: block;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 10px;
    }
    &.disable {
        opacity: 0.5;
        pointer-events: none;
    }
}

.feature{
    border-radius: 0px;
    text-align: center;
    color: #444855;
    text-align: start;
    background: var(--white);
    box-shadow: 0 2px 8px rgba(104, 104, 104, 0.06);
    &:hover {
        background: #d3e5ff;
        box-shadow: 1px 3px 8px rgba(104, 104, 104, 0.06);

    }
}
.round {
    border-radius: 999px;
    color: #444855;
    border: 1px solid #b8b8b8;
    // border: 2px solid var(--sub);
    background: var(--white);
    box-shadow: 0 2px 8px rgba(104, 104, 104, 0.06);
    &:hover {
        background: #d3e5ff;
        box-shadow: 1px 3px 8px rgba(104, 104, 104, 0.06);
    // color: var(--white);

    }
}
.primary {
    background-color: var(--primary);
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--white);
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(
        to right,
        var(--primary) 0%,
        #3a7bd5 51%,
        var(--primary) 100%
    );
    &:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        clip-path: pointer;
    }
}
.fab{
    border-radius: 100%;
}
.clear {
    background-image: linear-gradient(to right, #EB3349 0%, #F45C43  51%, #EB3349  100%);
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;

    &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    }
     
}
// button size
.small {
    min-width: 88px;
    padding: 10px 16px;
}
.large {
    min-width: 150px;
    padding: 20px 20px;
}
// icon
.icon + .title,
.title + icon {
    margin-left: 10px;
}
.icon {
    display: inline-block;
    width: 20px;
}