h3{
    color: #6439ff;
}

.inner{
    display: flex;
    // width: 780%;
}
.right{
    // z-index: 10;
    border-left: 1px solid #c1c1c1;
    height: 706px;
    width: 100%;
}
.btnUpdate{
    margin-right:2rem;
}
.title{
    align-items: center;
    justify-content: space-between;
    color: var(--sub);
    padding: 2rem 0 0 2rem;
}
.containerDiv{
    width: 1260px;
    justify-content: space-between;
}
.tableDiv{  
    overflow: auto;
    margin-left:2rem;
    margin-top: 1rem;
    height: 580px;
    width: 700px;
    // overflow-y: auto;
}
.table{
    width: 680px;
    min-height: 10px;
    margin-left: 2rem;
    border-collapse: collapse;
    font-size: 13px;  
}
th, td{
    padding: 8px 16px;
    text-align: left;
}
thead th{
    background-color: #6439ff;
    color: white;
    white-space: nowrap;
    position: sticky;
    top: 0;
    text-transform: uppercase;
}
tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}
tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

.saveBtnInfo{
    padding: 10px;
    &:hover{
        box-shadow: 2px 0px 3px 0px rgba(182, 182, 183, 0.549);
    }

}
.saveBtnInfo{
    width: 100px;
    margin-right:2rem;
    background-color: #6439ff;
    color: #fff;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:hover{
        background-color: #0bc578;
    }
}
// //////////////////////////////////////////////
.feature{
    margin-top: 0;
    width: 38%;
}
form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    .leftForm{
        width: 80%;
    }
    
}
.form-group {
    display: flex;
    flex-direction: column;
    .form-label {
        font-weight: 700;
        line-height: 1.8rem;
        font-size: 1.6rem;
    }
}

.form-control-left{
    height: 40px;
    width: 400px;
    margin-bottom: 3rem;
    border-bottom: 1px solid #b6b0b0;
}

.iconDelete{
    font-size: 23px;
    &:hover{
        color: crimson;
    }
    cursor: pointer;
}
.iconEdit{
    font-size: 23px;
    &:hover{
        color: #0bc578;
    }
    cursor: pointer;
}
.formUpdate{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.updateBtnInfo{
    width: 120px;
    padding: 12px;
    color: #f8f9fa;
    background-color: #6439ff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:hover{
        background-color: #0bc578;
    }
}